*{
	background-color: white !important;
}

#slideshow{
	position: relative;
	width: 900px;
	margin: 0 auto;
}

#slideshow div{
	position: absolute;
	padding-top: 10px;
}

div img{
	height: 100%;
	width: auto;
	margin: auto;
}

@media all and (max-width: 667px){
	.hamburger{
		display: none;
	}

	.mobileNav{
		display: block;
	}

	#header{
		font-size: 48px;
	}

	#slideshow{
		height: 400px;
		width: auto;
	}

	div img{
		height: auto;
		padding: 0 1% 0 1%;
		max-width: 100%;
	}

	#copyright{
		margin-top: 2px;
	}

}