*{
	background-color: white !important;
}

#slideshow{
	height: 60%;
	margin-top: 7%;
}

#slideshow div{
	position: absolute;
	text-align: center;
	padding-top: 10px;
}

div img{
	height: 500px;
	text-align: center;
}

#copyright{
	text-align: center;
	font-family: Neuton;
	margin-bottom: 10px;
}
@media all and (max-width: 576px){
	.hamburger{
		display: none;
	}

	.mobileNav{
		display: block;
	}

	#header{
		font-size: 48px;
	}

	#slideshow{
		height: 400px;
		width: auto;
	}

	div img{
		height: auto;
		padding: 0 1% 0 1%;
		max-width: 100%;
	}

	#copyright{
		margin-top: 2px;
	}

}