*{
	background-color: white !important;
}

p{
	font-size: 18px;
	line-height: 1.7;
	font-family: Century;
	color: black;
}

.para-links{
	color: #C43718;
	text-decoration: none;
}

.para-links:hover{
	color: #C43718;
	text-decoration: underline;
	cursor: pointer;
}

#bottom{
	margin-top: 12%;
}

img{
	height: 100%;
	width: auto;
	padding: 10px;
}

#pictures{
	height: 300px;
}

#copyright{
	text-align: center;
	margin-top: 0;
	padding-top: 0;
	font-family: Neuton;
}

span{
	font-size: 20px;
}

@media all and (max-width: 667px){
	p{
		font-size: 16px;
	}

	#pictures{
		height: 200px;
	}

}