*{
	background-color: white !important;
}

p{
	font-size: 18px;
	line-height: 1.7;
	font-family: Century;
	color: black;
}

div{
	margin: 0;
/*	padding: 30px 0 30px 0;*/
}

.para-links{
	color: #C43718;
	text-decoration: none;
}

.para-links:hover{
	color: #C43718;
	text-decoration: underline;
	cursor: pointer;
}

#bottom{
	margin-top: 12%;
}

#image1, #image2{
	height: 400px;
	width: auto;
	padding: 10px;
}

#pictures{
	text-align: center;
	display: inline-block
}

#copyright{
	text-align: center;
	margin-top: 0;
	padding-top: 0;
	font-family: Neuton;
}

span{
	font-size: 20px;
}

@media all and (max-width: 576px){
	#image1, #image2{
	height: 180px;
	width: auto;
	padding: 10px;
}

	p{
		font-size: 16px;
	}

}